<div class="form-style">
    <p>
        Welcome to <b><%= site_title %></b>.<br/>
        <em><%= site_description %> </em> <br/>
        Please click on <b>Login</b> to log in, or <b>Register</b> to register your name to the system.
    </p>

    <p>Thank you!</p>
</div>