<%
var loginUrl = "/login";
var logoutUrl = "/logout";
var registerUrl = "/register";

switch (page) {
    case "login":
        loginUrl = '#';
        break;
    case "logout":
        logoutUrl = '#';
        break;
    case "register":
        registerUrl = '#';
        break;
}
%>

<a href="/" class="menu">HOME</a> |

<% if(page == "profile") { %>
<a href="<%= logoutUrl %>" class="menu">Logout</a>
<% } else { %>
<a href="<%= loginUrl %>" class="menu">Login</a> |
<a href="<%= registerUrl %>" class="menu">Register</a>
<% } %>