<form class="register-form" name="register" action="/register" method="post" onsubmit="return validateRegister()">
    <table>
        <caption>Register Form</caption>
        <tr>
            <td><input type="text" name="username" placeholder="Username"/></td>
        </tr>
        <tr>
            <td><input type="text" name="email" placeholder="Email address"/></td>
        </tr>
        <tr>
            <td><input type="password" name="password" placeholder="Enter Password"/></td>
        </tr>
        <tr>
            <td><input type="password" name="password2" placeholder="Retype Password"/></td>
        </tr>
        <tr>
            <td align="right">
                <input type="submit" id="register" value="Register"/>
            </td>
        </tr>
    </table>
</form>