body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.info {
    font: 16px "Times New Roman", sans-serif;
    font-style: italic;
    color: darkslategray;
}

.error {
    font: 16px "Times New Roman", sans-serif;
    font-style: italic;
    color: red;
}

a.menu {
    width: 100%;
    height: 30px;
    border-radius: 6px 6px 0 0;
}

#response {
    text-align: center;
}

#profile-info {
    border-collapse: collapse;
    width: 100%;
}
#profile-info caption {
    padding-bottom: 5px;
    font-style: italic;
}
#profile-info, #profile-info th, #profile-info td {
    border: 1px solid #ddd;
    text-align: left;
}
#profile-info th, #profile-info td {
    padding: 10px;
    text-align: left;
}

/*
 =============== LOGIN AND REGISTER FORM ==================
 */

.form-style {
    padding: 10px;
    width: 400px;
    background-color: aliceblue;
    border: 1px solid #999;
    box-shadow: 0 0 10px #999;
    border-radius: 10px;
}

.register-form caption, .login-form caption {
    margin: 5px 5px 5px 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #9cd;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 0 10px #9ecaed;
}

input:not([type=submit]) {
    padding: 10px;
    width: 300px;
    border: 2px solid #dadada;
    background: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

input:not([type=submit]):focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

input[type=submit] {
    width: 150px;
    height: 36px;
    border: 1px solid #999;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #033;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

input[type=submit]:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

input[type=submit]:focus {
    outline: none;
}

input[type=submit]:active {
    outline: none;
    background: #9ecaed;
    box-shadow: none;
}
